
#contact_modal {
    padding: 0;
    border-radius: 5px;
    border: none;
    width: 60vw;
    background-color: transparent;
}
#contact_modal[open] {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#contact_modal[closing], #lightbox-modal[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
  }


#yourMessage {
    resize: none;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    border: none;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0rem;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-gallery {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}



#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: space-between;
}

.img-container img, .img-container video  {
    width: 100%;
    max-width: 350px;
    height: 300px;
    background-color: black;
    margin-bottom: 8px;
    border-radius: 8px;
    object-fit: cover;
}

.image-caption {
  margin-top: 8px;
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

.like-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.like-count {
  font-weight: bold;
}


.sorting-controls {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}
.sorting-controls label {
    font: 700;
    font-size: 18px;
}

.dropdown {
  background-color: #901C1C;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  color: white;
  border-radius: 5px;
  width: 100px;
  position: absolute; /* Ajouté */
  z-index: 2; /* Ajouté */
}

.dropdown-container {
  position: relative;
}

#sort-options:focus {
  outline: blue solid 1px;
}

#sort-options { 
  all: unset;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  cursor: pointer;
  border-bottom: white solid 1px;
  padding: 12px 0px;
}

.dropdown-content {
  margin: 0px;
  padding: 0px;
}

.dropdown-btn {
  all: unset;
  display: block;
  width: 100%;
  padding: 12px 0px;
  list-style: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.dropdown-btn:focus {
  outline: white solid 1px;
}

.dropdown-btn[aria-hidden="true"] {
  display: none;
}

.dropdown-btn[aria-expanded="true"] {
  display: block;
}


#sort-options[aria-expanded="false"] {
  border-bottom: none;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  transition: all 0.3s ease;
}

.dropdown button:last-child {
  border-bottom: none;
}

.rotate {
  transform: rotate(180deg);
}


  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .image-swiper {
    height: 300px !important;
    display: block;
    cursor: pointer;
  }
  .btn-invisible {
    all: unset;
    outline: revert ;
  }

  #lightbox-modal {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: none;
    color: none;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
  }

  .lightbox-modal {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 95%;
    position: relative;
  }

  .lightboxImg {
    display: none;
  }
  .showlightBox {
    display: block;
  }

  .lightbox-image-container {
    object-fit: cover;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .lightbox-image-title {
    color: #901C1C;
    font-size: 24px;
  }

  .lightboxImg {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .prevBtn {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(50%);
    cursor: pointer;
  }

  .nextBtn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(50%);
    cursor: pointer;
  }

  .closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #901C1C;
  }

.tarif {
  position: fixed;
  bottom: 0;
  right: 32px;
  width: 375px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DB8876;
  color: black;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
}
.total-likes-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.total-likes-container .heart path {
  fill: black;
}

.toggle-like {
  cursor: pointer;
  height: 17px;
}
.toggle-like path {
  fill: #901C1C;
}
