#contact_modal {
    padding: 0;
    border-radius: 5px;
    border: none;
    width: 100vw;
    background-color: transparent;
}
#contact_modal[open] {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#contact_modal[closing], #lightbox-modal[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
  }


#yourMessage {
    resize: none;
    width: 100%;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-gallery {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.sorting-controls {
    display: flex;
    gap: 16px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: space-between;
}

.img-container img, .img-container video  {
    width: 100%;
    max-width: 350px;
    height: 300px;
    background-color: black;
    margin-bottom: 8px;
    border-radius: 8px;
    object-fit: cover;
}

.image-caption {
    display: flex;
    justify-content: space-between;
}

.like-container {
    display: flex;
    gap: 8px;
}



.sorting-controls label {
    font: 700;
    font-size: 18px;
}

#sort-options {
    color: white;
    background-color: #901C1C;
    padding: 8px;
    border: none;
}
#sort-options option {
    background-color: #901C1C ;
    color: white;
}

#sort-options option:not(:last-of-type) {
    border-bottom: 1px solid white; 
  }



  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .image-swiper {
    height: 300px !important;
    display: block;
    cursor: pointer;
  }
  .btn-invisible {
    all: unset;
    outline: revert ;
  }

  #lightbox-modal {
    width: 80vw;
    height: 80vh;
  }

  .lightbox-modal {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #901C1C;
    height: 95%;
    position: relative;
  }

  .lightboxImg {
    display: none;
  }
  .showlightBox {
    display: block;
  }

  .lightbox-image-container {
    object-fit: cover;
    width: 70%;
    height: 70%;
    background-color: blue;
  }

  .lightboxImg {
    width: 100%;
    height: 100%;
  }

  .prevBtn {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(50%);
  }

  .nextBtn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(50%);
  }

  .closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }